---
---

@import "reset";
@import "gridism";
@import "breakpoints";
@import "fonts";

$text-color: #292929;
$serif: "Playfair Display", times, serif;

html, body {
  color: $text-color;
  background-color: #fff;
}

@import "sidebar";
@import "post";
