$serif: "Playfair Display", times, serif;
$black: #292929;
$link-color: #AA3939;

.posts-wrapper {
  position: absolute;
  float: right;
  width: 65%;
  right: 5%;

  @include breakpoint(goldilocks) {
    width: 100%;
    right: 0;
  };
}

.divider:after {
  display: block;
  font-size: 25px;
  text-align: center;
  content: "\2022\00A0\2022\00A0\2022";
  padding: 35px 0 25px 0;
}

header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-family: $serif;

  h1 {
    text-align: center;
    /* line-height: 1.5; */

    span.inner-header {
      /* border-bottom: 3.5px solid $black; */
      text-align: center;
    }

    small {
      font-size: 50%;
      text-transform: uppercase;
      vertical-align: middle;

      &:before, &:after {
        content: '';
        display: block;
      }
    }

    em {
      font-style: italic;
    }
  }
}

article {
  font-family: $serif;
  font-size: 1.2rem;
  @include breakpoint(baby-bear) { font-size: 1.1rem }
  font-weight: 400;
  line-height: 1.75;
  text-align: left;
  @include breakpoint(goldilocks) { margin: 0 8%; };

  .meta {
    margin-top: 18px;
    margin-bottom: 35px;
  }

  p {
    margin-bottom: 25px;

    strong { font-weight: 700; }
    em { font-style: italic; }
  }

  ul, ol {
    padding-left: 8%;
    padding-bottom: 20px;
  }

  ol { list-style-type: decimal; }

  ul li {
    &:before {
      content: "\2022\00A0";
    }
  }

  h1 {
    font-family: $serif;
    font-size: 90px;
    @include breakpoint(baby-bear) { font-size: 70px };
    font-weight: 400;
    text-align: center;
    line-height: 110%;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  img {
    display: block;
    max-width: 100%;
    border-radius: 6px;
    margin: 0 auto;
  }

  .date {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 85%;
    time { font-weight: 700; }
    line-height: 175%;
  }

  blockquote {
    font-style: italic;
    padding-left: 15px;
    font-size: 1.3rem;
    line-height: 1.5;
    border-left: 3px solid #444;
    margin: 10px 0;
  }

  cite {
    color: #444;
    font-size: 1.2rem;
    padding-left: 20px;

    &:before {
      content: "— ";
    }
  }
}

// Cool Underlines (from http://www.acusti.ca/blog/2014/11/28/towards-a-more-perfect-link-underline/)
// Colors
$color-accent     : $link-color;
$color-text-body  : $black;

// Custom link underline
// ---------------------
p {
  a {
    color: $color-accent;
    text-decoration: none;
    // Underline via gradient background
    background-image: linear-gradient(rgba($color-accent, 0.25) 0%, $color-accent 100%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 95%;
    // Tweak position + thickness for high res (1.75x and up) displays
    @media (-webkit-min-device-pixel-ratio: 1.75),
           (min-resolution: 168dpi) {
      background-image: linear-gradient(rgba($color-accent, 0.25) 0%, $color-accent 100%);
      background-position: 0 93%;
    }
    // Clear descendors from underline
    text-shadow: 3px 0 white, 2px 0 white, 1px 0 white, -1px 0 white, -2px 0 white, -3px 0 white;
    &:hover {
      color: darken($color-accent, 11%);
      background-image: linear-gradient(to bottom, darken($color-accent, 6%) 0%, darken($color-accent, 6%) 100%);
    }
    // Style selected links (or else text-shadow makes it look crazy ugly)
    // Pseudo selectors must go separately, or they break each other
    &,
    > * {
      &::selection {
        background-color: lighten($color-accent, 25%);
        color: $color-text-body;
        text-shadow: none;
      }
      &::-moz-selection {
        background-color: lighten($color-accent, 25%);
        color: $color-text-body;
        text-shadow: none;
      }
    }
  }
  h1, h2, h3 {
    a {
      background-size: 1px 2px;
      @media (-webkit-min-device-pixel-ratio: 1.75),
             (min-resolution: 168dpi) {
        background-position: 0 93%;
        background-image: linear-gradient($color-accent 0%, $color-accent 100%);
        background-size: 1px 1px;
        background-position: 0 93%;
      }
    }
  }
}
