$serif: "Playfair Display", times, serif;

.posts-wrapper {
  position: absolute;
  float: right;
  width: 58%;
  right: 12%;

  @include breakpoint(goldilocks) { 
    width: 100%;
    right: 0;
  };
}

.divider:after {
  display: block;
  font-size: 25px;
  text-align: center;
  content: "\2022\00A0\2022\00A0\2022";
  padding: 35px 0 25px 0;
}

article {
  font-family: $serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  @include breakpoint(goldilocks) { margin: 0 8%; };

  .meta {
    margin-top: 18px;
    margin-bottom: 35px;
  }

  p {
    margin-bottom: 25px;

    a {
      text-decoration: none;
      border-bottom: solid 1px $text-color;
      color: #AA3939;
      @include transition(.2s color ease-in-out);
      &:hover { color: #582A72; }
    }
  }

  ul, ol {
    padding-left: 8%;
    padding-bottom: 20px;
  }

  ol { list-style-type: decimal; }

  ul li {
    &:before {
      content: "\2022\00A0";
    }
  }

  h1 {
    font-family: $serif;
    font-size: 90px;
    @include breakpoint(baby-bear) { font-size: 75px };
    font-weight: 400;
    text-align: center;
    line-height: 110%;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  img {
    display: block;
    max-width: 100%;
    border-radius: 6px;
    margin: 0 auto;
  }

  .date {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 85%;
    time { font-weight: 700; }
    line-height: 175%;
  }

  blockquote {
    font-style: italic;
    padding-left: 15px;
    font-size: 150%;
    line-height: 115%;
    border-left: 3px solid #444;
    margin: 10px 0;
  }

  cite {
    color: #444;
    font-size: 115%;
    padding-left: 20px;

    &:before {
      content: "— ";
    }
  }
}